name: Build & Release Aurawear

permissions:
  contents: write # Required to create releases

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Install dependencies
        run: flutter pub get
      - name: Build APK
        run: flutter build apk --release
      # Save APK for the release job
      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/app-release.apk

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Install dependencies
        run: flutter pub get
      - name: Build Windows
        run: flutter build windows --release
      # Zip the Windows build (required for download)
      - name: Archive Windows Release
        shell: pwsh
        run: Compress-Archive -Path build/windows/x64/runner/Release/* -DestinationPath Aurawear-Windows.zip
      # Save Zip for the release job
      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Aurawear-Windows
          path: Aurawear-Windows.zip

  # This job takes the files and puts them in a public download link
  create-release:
    needs: [build-android, build-windows]
    runs-on: ubuntu-latest
    steps:
      - name: Download APK
        uses: actions/download-artifact@v4
        with:
          name: app-release
      - name: Download Windows Zip
        uses: actions/download-artifact@v4
        with:
          name: Aurawear-Windows
      
      - name: Update Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: latest
          name: "Latest Build (Aurawear)"
          files: |
            app-release.apk
            Aurawear-Windows.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
